<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://brandmark.io/logo-rank/random/bp.png" alt="logo">
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/posts/new" class="navbar-wagon-item navbar-wagon-link">
      <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="New post"></i>
    </a>
  </div>
</div>
